hr {
  border: 1px solid;
  border-color: #ffffff;
  margin: 1em 0;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 154%;
  height: 1.2em;
}


li {
  margin: .3em 0 1em 0;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  color: #ffffff;
  background-color: #262626;
}

div.title {
  background-color: #262626;
  border-top: 1px solid #000000;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0.2em;
  margin-bottom: 20px;
}

div.subtitle {
  border-bottom: 1px solid rgb(51, 102, 204);
  margin-top: 2em;
}

td.contents {
  text-align: left;
}

div.run {
  margin: 20px;
  width: 300px;
  height: 300px;
  float: right;
  background-color: rgb(229, 236, 249);
  background-image: url(v8-logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid ;
}

#status {
  text-align: center;
  margin-top: 50px;
  font-size: 120%;
  font-weight: bold;
  color:#000000
}

#results {
  text-align: left;
  margin: 30px 0 0 90px;
}
